.icon-view {
    display: flex;
    justify-content: space-around;
}
.broad-view{
    display: flex;
    justify-content: space-between;
}

body[data-theme="light"] {
    background-color: #ffffff !important;
}
body[data-theme="dark"] {
    background-color: #14161A !important;
}

body{
    height:100%;
}

tr{
    height: 50px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
    background: #e3e3e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #14161a6a;
    border-radius: 20px 20px 20px 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #14161ad0;
}

.card-view{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden; 
    max-height: 800px;
    padding: 5px 20px 5px 20px;
}

.tender-form-container{
    display: flex; justify-content: space-between; width: 100%;
    gap:2rem;
}

.tender-form{
    /* background-color: red; */
}

.real-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-tender{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 70%;
}

.file{
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-name-tender{
    border: solid 1px;
    border-color: #e3e3e3;
    height: 2rem;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.label-tender{
    font-weight: 700;
}

.summary-top-bar{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.summary-details-bar{
    display: flex;
    gap: 1rem;

    align-items: stretch;
}

.summary-detail-box{
    width: 22%;
    min-height: 7rem;
    border: solid 1px  #89898948;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    padding: 4px 10px;
    gap:0.2rem;
}


/* .summary-bidders-box{
    width: 18%;
    min-height: 10rem;
    border: solid 1px  #89898962;

    display: flex;
    flex-direction: column;

    padding: 4px 10px;
    margin-left: auto;
    gap:0.2rem;

    box-shadow: 5px 5px 10px  rgba(128, 128, 128, 0.318);
} */

.summary-charts{
    display: flex;
    gap: 1rem;

    align-items: stretch;

    justify-content: center;

    flex-wrap: wrap;

    height: 300px;


}

.chart-container{
    border: solid 1px  #89898948;

    padding: 5px 10px;

    box-shadow: 5px 5px 10px  rgba(128, 128, 128, 0.318);

}

.summary-table-data{
    /* display: flex; */
}

.summary-table-header{
    text-align: center;
}
