{% extends 'nav_template.html' %}

{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Bulma</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Components</a></li>
      <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
    </ul>
</nav>

<h1 class="title">Bidder Name</h1>
<h2 class="subtitle">ID:{{bidder_id}}</h2>
<hr>
<h1 class="subtitle">Document Processing Status</h1>

<div class="box">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Document name</th>
                <th>Processing Status</th>
            </tr>
        </thead>
        <tbody>
            {%for link in bidder['status']%}
            <tr>
                <td>{{link}}</td>
                <td>{{bidder['status'][link]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    
    </table>
</div>

{%if columns|length >0 %}
<h1 class="subtitle">Key Data Feilds Extraction <span><i class="fas fa-download"></i></span></h1>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            {%for col in columns%}
            <th>{{col}}</th>
            {%endfor%}
        </tr>
    </thead>
    <tbody>
    {%for row in data%}
    <tr>
        {%for cell in row%}
        <td>{{cell}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
    </tbody>
</table>
{%endif%}

{% endblock %}