<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title> - FlaskApp</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <script src="https://kit.fontawesome.com/e6c3e4af0f.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block head %} {% endblock %}
</head>
<body data-theme="dark">
    <nav style="padding: 0px 70px 0px 90px;" class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-ite" href="#">
                <img src="{{ url_for('static', filename='imgs/logo_small-removebg-preview.png') }}" width="100px">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#">
                    Home
                </a>
                <a class="navbar-item" href="#">
                    Documentation
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="#">
                            About
                        </a>
                        <a class="navbar-item" href="#">
                            Jobs
                        </a>
                        <a class="navbar-item" href="#">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="#">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div style="display: flex; gap: 1rem; padding: 0px 10px 0px 10px;" class="buttons">

                        <!-- Theme button -->
                        <button onclick="changeTheme()" class=" button">
                            <img id="themeToggle" src="./static/mode.png">
                        </button>

                        <!-- Logout button -->
                        <button class="button">
                            <img id="loginButton" src="./static/power-light.png">
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>